body {background-color:rgb(232, 255, 250);
max-width: 1000px;
margin:auto;}

.navbar {background-color: rgb(232, 255, 250);
text-align:left;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
margin:10px;
padding:10px;
color:rgb(0, 0, 0)}


.navbar a {text-decoration: none;
    color:rgb(0, 0, 0);
    padding:10px;
    margin:10px;}

.email a {text-decoration:none;
color:rgb(0, 0, 0);
padding:30px;
margin:10px;
}

.email {text-align:right;
font-family: Arial, Helvetica, sans-serif;
font-size:16px;
display:inline-block;
margin:70px;



}

.headtitle {text-align:left;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
margin-top:30px;
padding:10px;
display:inline-block;}


.container img {border-radius:50%;
    width:300px;
    position:absolute;
    right:20%;
    float:right;
    padding:20px;
    top:130px;
   
} 

.aboutme {width:50%;
padding:3px;
float:left;}



/*.one img{float:right;
    border-radius:50%;
  
    margin-right:3rem;
    margin-bottom:1rem;
} */

.one {float:left;
margin-right:3rem;
margin-bottom:1rem;
}



