
body {overflow:scroll;
background-color: #fdf4f2;}

.page-content {margin:auto;
    max-width:1000px;
font-family: Arial, Helvetica, sans-serif;
background-color: #fdf4f2;
}
    
    .row {display:flex;}
    
    .column {background-color: #fdf4f2;
    flex:50%;
    margin:10px;
padding:20px;}

a {text-decoration: none;
padding:10px;
color:rgb(0, 0, 0);
font-size:20px; 
font-size:17px;}

a:hover {cursor: pointer;
background-color:rgb(172, 246, 248);
border-radius:5px;

}
    
    #para-one {padding:10px;
    margin:10px;}

    #aboutme {margin:10px;
        font-size: 20px;;
    }

    #para-two {padding: 10px;
    margin:10px;
    font-size:15px;
}

    #snowpic {width:300px;
    border-radius:50%;
    position:absolute;
    margin:10px;
    }
    
    @media only screen and (max-width:500px) {
    #img-column { display:none;} }

 