
.page-content {margin:auto;
    max-width:1000px;}
    
    .row {display:flex;}
    
    .column {background-color: rgb(173, 173, 240);
    flex:50%;
    margin:10px;}
    
    
    #snowpic {width:250px;
    border-radius:50%;
    }
    
    @media only screen and (max-width:500px) {
    #img-column { display:none;} }